* {
    box-sizing: content-box;
}

body {
  height: 100%;
  margin: 0;
}

*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
	}


header{
	background-color: #000000;
	height: 13vh;
        font-size: 15px;
	}

.content {
  min-height: calc(100vh - 70px);
}

ul {
   float:right;
   list-style-type: none;
   margin-top: 10px;
   margin-bottom: 10px;
  }

ul li {
	 display:inline-block;
	 margin-right: 40px;
	 }

ul li a {
	    text-decoration:none;
	    color:rgba(146,139,139);
	    padding: 5px 0.2px;
	    transition: 0.5s ease;
		}

ul li a:hover {
		  color:#ffffff;
		  border-bottom: 2px solid #ff0033;
		}

ul li a.currentpage {
		  color:#ffffff;
		  border-bottom: 2px solid #ff0033;
		  }

.logo img{
	   float: left;
	   position: absolute;
	   top: 5px;
	   left: 2px;
}

.main {
	max-width: 1200px;
	margin: auto;
	}

main{
	background-color: #BAB6B6;
	}

#Capraharcus {
  background-color: #000000;
  height: 50px;
  margin-top: 50px;
}


  #copyrightthing {
                   float:left;
                   margin-left:20px;
                  }




  #facebookid {
                  float:right;
                  margin-right:75px;
                   }

  #instagramid {
                 float:right;
                 margin-right:50px;
               }


  #twitterid {
              float:right;
              margin-right:50px;
            }



  #emailid {
            float:right;
            margin-right:50px;
           }

  #table {
      width: 100%;
      height: 120;
      bgcolor: black;
  }


#logreg {
  color:rgba(146,139,139);
  position: absolute;
  right: 15px;
  top: 10px;
  display: inline-flex;

}

#userlogin, #adminlogin {

  width: 415px;
    height: 239px;
    background-color: rgb(241, 241, 241);
    padding: 20px;
    position: absolute;
    right: 560px;
    top: 190px;
    border: 3px  dashed rgb(141, 147, 179);
}

.events {
  width: 400px;
  height: 240px;
  background-color: lightyellow;
  padding: 14px;
  margin: 23px;
  margin-bottom: 30px;
  color: peru;
  position: relative;
  top: 20px;
  left: 13px;

}


#searchevent {

  width: 344px;
  height: 100px;
  padding: 15px;
  background-color: rgb(170, 187, 223);
  position: absolute;
  right: 520px;
  top: 190px;
  border-radius: 5px;

}


#ticketchecker {
    width: 400px;
    height: 150px;
    padding: 20px;
    background-color: rgb(170, 187, 223);
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#signup {
    width: 415px;
    height: 500px;
    background-color: rgb(241, 241, 241);
    padding: 20px;
    position: initial;
    right: 550px;
    top: 200px;
    border: 3px dashed rgb(141, 147, 179);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


#cart {

  width: 400px;
  height: auto;
  padding: 20px;
  background-color: rgb(170, 187, 223);
  position: absolute;
  right: 50px;
  top: 180px;
  border-radius: 5px;

}

.checkout {
    position: absolute;
    margin-left: 235px;
    width: 130px;
    height: 41px;
    color: ghostwhite;
    background-color: forestgreen;
    font-weight: bold;

}

.shopcart{
  height: 32px;
  width: 222px;
  background-color: cadetblue;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  line-height: -moz-block-height;
  color: cornsilk;

}

.addtocart {

width:120px;
height: 24px;
color: ghostwhite;
    background-color: forestgreen;
    font-weight: bold;

}

#eventsection {
    height: auto;
    width: 500px;
    background-color: beige;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}


.ticketsdiv {
    width: 400px;
    background-color: lightyellow;
    padding: 14px;
    margin: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: peru;
    position: relative;
    top: 100px;
    left: 13px;
}



span.h2{

  color: dimgray;
}

span.name{


  color: rgb(54, 115, 139);

}

#booking {

  position: absolute;
    top: 160px;
    left: 48px;
    color: darkslategray;
}


#err  {

  height: 50px;
    width: 400px;
    background: cadetblue;
    color: azure;
    position: absolute;
    top: 255px;
    left: 500px;
    padding: 20px;
    text-align: center;
    line-height: 5px;
    border: 4px solid burlywood;
border-radius: 25px;
}

#ticketinfo {
  width: 400px;
  height: 400px;
  padding: 20px;
  background-color: rgb(170, 187, 223);
  position: relative;
  right: 550px;
  top: 250px;
  border-radius: 5px;
}

#aboutus {
  width: 550px;
  height: 100px;
  padding: 20px;
  margin: 0 auto;
  background-color: rgb(170, 187, 223);
  position: relative;
  top: 250px;
  border-radius: 5px;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000000;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
